<h1 class="blog-name pt-lg-4 mb-0 arabic">ICCSRPBA</h1>

<nav class="navbar navbar-expand-lg navbar-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
		aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navigation" class="collapse navbar-collapse flex-column">
		<div class="profile-section pt-3 pt-lg-0">
			<img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/profile.png" alt="image" />

			<div class="bio mb-3 arabic">
				من خلال خبرتنا الممتدة أكثر من 20 سنة في عالم الاختراعات والبحث العلمي
				نقدم هذا الموقع للعالم العربي بطريقة حديثة ومتطورة لكي نكون مواكبين
				للعالم المتقدم... <a href="about.html"> المزيد عنا</a>
			</div>
			<!--//bio-->
			<ul class="social-list list-inline py-3 mx-auto">
				<li class="list-inline-item">
					<a href="#"><i class="fab fa-twitter fa-fw"></i></a>
				</li>
				<li class="list-inline-item">
					<a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a>
				</li>
				<!-- <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li> -->
				<!-- <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li> -->
				<li class="list-inline-item">
					<a href="#"><i class="fab fa-facebook-f fa-fw"></i></a>
				</li>
			</ul>
			<!--//social-list-->
			<hr />
		</div>
		<!--//profile-section-->

		<ul class="navbar-nav flex-column text-left">
			<li class="nav-item indexPage">
				<a class="nav-link" href="index.html"><i class="fas fa-home fa-fw mr-2"></i> الرئيسية</a>
			</li>
			<li class="nav-item categoriesPage">
				<a class="nav-link services-dropdown"><i class="fas fa-bookmark fa-fw mr-2"></i> &nbsp;خدماتنا<i class="fas fa-arrow-alt-circle-down fa-fw mr-2"></i></a>
			</li>
			<div class="span-services-dropdown">
				<span>
					<!-- <li class="nav-item">
							<a class="nav-link" href="#"><i class="fas fa-arrow-left fa-fw mr-2"></i> &nbsp;خدمة 1</a>
						</li> -->
				</span>
				<li class="nav-item">
					<a class="btn btn-primary" href="categories.html">جميع الخدمات</a>
				</li>
			</div>
			<li class="nav-item aboutPage">
				<a class="nav-link" href="about.html"><i class="fas fa-user fa-fw mr-2"></i> المزيد عني</a>
			</li>
		</ul>

		<div class="my-2 my-md-3">
			<a id="contact-us-button" class="btn btn-primary">تواصل معنا</a>
		</div>
	</div>
</nav>