<h1 class="blog-name pt-lg-4 mb-0 arabic"><a href="index">ICCSRPBA</a></h1>

<nav class="navbar navbar-expand-lg navbar-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
		aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navigation" class="collapse navbar-collapse flex-column">
		<div class="profile-section pt-3 pt-lg-0">
			<img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/profile.png" alt="image" />

			<div class="bio mb-3 arabic">
				من خلال خبرتنا الممتدة سنوات في عالم الاختراعات والبحث العلمي
				نقدم هذا الموقع للعالم العربي... <a href="about"> المزيد عنا</a>
			</div>
			<!--//bio-->
			<ul class="social-list list-inline py-3 mx-auto">
				<li class="list-inline-item">
					<a href="https://www.facebook.com/%D8%A7%D9%84%D9%85%D8%B1%D9%83%D8%B2-%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A-%D9%84%D9%84%D8%A3%D8%B3%D8%AA%D8%B4%D8%A7%D8%B1%D8%A7%D8%AA-%D9%88%D8%A7%D9%84%D8%A3%D8%AE%D8%AA%D8%B1%D8%A7%D8%B9%D8%A7%D8%AA-%D9%88%D8%A7%D9%84%D8%A8%D8%AD%D8%AB-%D8%A7%D9%84%D8%B9%D9%84%D9%85%D9%8A-%D9%88%D8%A7%D9%84%D9%86%D8%B4%D8%B1-%D9%88%D8%A7%D8%AF%D8%A7%D8%B1%D8%A9-%D8%A7%D9%84%D8%A3%D8%B9%D9%85%D8%A7%D9%84-103105444826925/?ref=bookmarks" target="_blank"><i class="fab fa-twitter fa-fw"></i></a>
				</li>
				<li class="list-inline-item">
					<a href="https://www.facebook.com/%D8%A7%D9%84%D9%85%D8%B1%D9%83%D8%B2-%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A-%D9%84%D9%84%D8%A3%D8%B3%D8%AA%D8%B4%D8%A7%D8%B1%D8%A7%D8%AA-%D9%88%D8%A7%D9%84%D8%A3%D8%AE%D8%AA%D8%B1%D8%A7%D8%B9%D8%A7%D8%AA-%D9%88%D8%A7%D9%84%D8%A8%D8%AD%D8%AB-%D8%A7%D9%84%D8%B9%D9%84%D9%85%D9%8A-%D9%88%D8%A7%D9%84%D9%86%D8%B4%D8%B1-%D9%88%D8%A7%D8%AF%D8%A7%D8%B1%D8%A9-%D8%A7%D9%84%D8%A3%D8%B9%D9%85%D8%A7%D9%84-103105444826925/?ref=bookmarks" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a>
				</li>
				<li class="list-inline-item">
					<a href="https://www.facebook.com/%D8%A7%D9%84%D9%85%D8%B1%D9%83%D8%B2-%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A-%D9%84%D9%84%D8%A3%D8%B3%D8%AA%D8%B4%D8%A7%D8%B1%D8%A7%D8%AA-%D9%88%D8%A7%D9%84%D8%A3%D8%AE%D8%AA%D8%B1%D8%A7%D8%B9%D8%A7%D8%AA-%D9%88%D8%A7%D9%84%D8%A8%D8%AD%D8%AB-%D8%A7%D9%84%D8%B9%D9%84%D9%85%D9%8A-%D9%88%D8%A7%D9%84%D9%86%D8%B4%D8%B1-%D9%88%D8%A7%D8%AF%D8%A7%D8%B1%D8%A9-%D8%A7%D9%84%D8%A3%D8%B9%D9%85%D8%A7%D9%84-103105444826925/?ref=bookmarks" target="_blank"><i class="fab fa-facebook-f fa-fw"></i></a>
				</li>
			</ul>
			<!--//social-list-->
			<hr />
		</div>
		<!--//profile-section-->

		<ul class="navbar-nav flex-column text-right">
			<li class="nav-item indexPage">
				<a class="nav-link" href="/"><i class="fas fa-home fa-fw mr-2"></i> الرئيسية</a>
			</li>
			<li class="nav-item announcementsPage dropdown-component">
				<a class="nav-link" href="announcements"><i class="fas fa-book fa-fw mr-2"></i> اخر الأخبار </a>
			</li>
			<li class="nav-item categoriesPage">
				<a class="nav-link services-dropdown"><i class="fas fa-bookmark fa-fw mr-2"></i> &nbsp;خدماتنا<i class="fas fa-arrow-left fa-fw mr-2"></i></a>
			</li>

			<div class="categories-dropdown row span-services-dropdown arabic arabic-text dropdown-component">
				<div class="col-sm row-1">
					<ul></ul>
				</div>
				<div class="col-sm row-2">
					<ul></ul>
				</div>
				<div class="col-sm row-3">
					<ul></ul>
				</div>
			</div>

			<li class="nav-item aboutPage">
				<a class="nav-link" href="about"><i class="fas fa-user fa-fw mr-2"></i> المزيد عنا</a>
			</li>
		</ul>

		<div class="my-2 my-md-3">
			<a class="contact-us-button btn btn-primary">تواصل معنا</a>
		</div>
	</div>
</nav>