.white-color {
    color: white;
}

.transparent-white-color {
    color: rgba(255, 255, 255, 0.564);
}

.black-color {
    color: black;
}

.dark-grey-color {
    color: #222;
}

.light-grey-color {
    color: #777;
}

.white-color {
    color: white;
}

.white-color {
    color: white;
}
