.nav-link {
  direction: rtl;
  text-align: right;
}

ul.navbar-nav.flex-column.text-right {
  width: 100%;

  li {
    text-align: center;
  }
  
  div.span-services-dropdown {
    margin-bottom: 20px;
    display: none;
    
    span {
      li {
        
        a {
          margin-right: 5%;
        }
      }
    }
  }
}

header.header.text-center {
  nav {

    button.navbar-toggler {
      margin-left: 86%;
    }
  }
}

@media screen and (min-width: 992px) {
  header.header.text-center {
    z-index: 10;

    nav {
      padding-top: 5%;
      padding-bottom: 0;

      div {
        div {
          ul.social-list.list-inline.py-3.mx-auto {
            padding: 0 !important;
          }
        }
      }
    }
  }
}

.categories-dropdown {
  position: fixed;
  color: black;
  height: 50%;
  transform: translate(-100%, -50%);
  background: #f1f1f1;
  border: solid 7px #c1c1c1;
  width: 70%;
  text-align: center;
  padding: 10px;

  ul {
    li {
      margin: 10px;
      list-style-type: square;
      text-align: right !important;

      a {
        color: black !important;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .categories-dropdown {
    position: absolute;
    transform: translate(0, 0);
    height: auto;
    z-index: 10;
  }
}
