a {
  cursor: pointer;
}

.card {
  margin: 5% 0;
  text-align: right;
}

.card div .btn {
  height: auto;
  min-height: 2.75rem;
}

// Import colors
@import 'colors';

// Import shotcut classes
@import 'shortcuts';

// Import scrollbar styles
@import 'scrollbar';

// Import page layout styles
@import 'layout';

// Import page layout styles
@import 'header';

// Import page layout styles
@import 'heading';

// Import contact-us form styles
@import 'contact';