@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

html, body{
  font-family: 'Droid Arabic Kufi', sans-serif;
}

a {
  cursor: pointer;
}

.card {
  margin: 5% 0;
  text-align: right;
}

.card div .btn {
  height: auto;
  min-height: 2.75rem;
}

div.loading-page {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-page-core {
    opacity: 0;
  }

  .loading-icon {
    display: block;
    
    * {
      display: block;
    }
  }
}

.categories-span {
  direction: rtl;
}

@media screen and (max-width: 767px) {
  h2.h2.col-xs-4 {
    position: static;
    transform: translateY(-37px);
  }

  .cardh2 {
    position: static;
    transform: translateY(-47px);
  }
}

// Import colors
@import 'colors';

// Import shotcut classes
@import 'shortcuts';

// Import scrollbar styles
@import 'scrollbar';

// Import page layout styles
@import 'layout';

// Import page layout styles
@import 'header';

// Import page layout styles
@import 'heading';

// Import contact-us form styles
@import 'contact';

// Import categories css
@import 'categories';

// Import categories css
@import 'card';

// Import announcements styles
@import 'announcements';