a {
  cursor: pointer;
}

.card {
  margin: 5% 0;
  text-align: right;
}

.card div .btn {
  height: auto;
  min-height: 2.75rem;
}

.white-color {
  color: white;
}

.transparent-white-color {
  color: rgba(255, 255, 255, 0.564);
}

.black-color {
  color: black;
}

.dark-grey-color {
  color: #222;
}

.light-grey-color {
  color: #777;
}

.white-color {
  color: white;
}

.white-color {
  color: white;
}

.arabic {
  direction: rtl;
}

.arabic-text {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .width-100 {
    width: 100%;
  }
  .width-90 {
    width: 90%;
  }
  .width-80 {
    width: 80%;
  }
  .width-60 {
    width: 60%;
  }
  .width-50 {
    width: 50%;
  }
  .width-20 {
    width: 20%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 992px) {
  .header {
    overflow-y: scroll;
    left: auto;
    right: 0;
  }
  .main-wrapper {
    margin-left: 0;
    margin-right: 280px;
  }
}

.nav-link {
  direction: rtl;
  text-align: right;
}

ul.navbar-nav.flex-column.text-right {
  width: 100%;
}

ul.navbar-nav.flex-column.text-right li {
  text-align: center;
}

ul.navbar-nav.flex-column.text-right div.span-services-dropdown {
  margin-bottom: 20px;
  display: none;
}

ul.navbar-nav.flex-column.text-right div.span-services-dropdown span li a {
  margin-right: 5%;
}

header.header.text-center nav button.navbar-toggler {
  margin-left: 86%;
}

@media screen and (min-width: 992px) {
  header.header.text-center nav {
    padding-top: 5%;
    padding-bottom: 0;
  }
  header.header.text-center nav div div ul.social-list.list-inline.py-3.mx-auto {
    padding: 0 !important;
  }
}

div.main-banner-div {
  background: url(../images/main-banner.jpg) no-repeat !important;
  background-size: auto 50vw !important;
  background-position: center right !important;
}

div.main-banner-div .background-darkner {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(68%, rgba(0, 0, 0, 0.387)), to(rgba(255, 255, 255, 0))) !important;
  background: linear-gradient(rgba(0, 0, 0, 0.387) 68%, rgba(255, 255, 255, 0)) !important;
  border-radius: 0;
}

div.main-banner-div .background-darkner div h1 {
  line-height: 1.3 !important;
}

@media screen and (max-width: 1100px) {
  div.main-banner-div {
    background-size: auto 100%  !important;
  }
}

@media screen and (max-width: 767px) {
  div.main-banner-div {
    background-size: auto 100% !important;
  }
  div.main-banner-div .background-darkner div {
    text-align: center;
  }
  div.main-banner-div .background-darkner div h1 {
    font-size: 9vw;
    line-height: 1.5;
    margin-bottom: 5%;
  }
  div.main-banner-div .background-darkner div p {
    font-size: 16px;
  }
}

#contact-us-form {
  background: #f1f1f1f1;
  padding: 5% 0;
}

@media (min-width: 768px) {
  #contact-us-form form .form-group {
    width: 50%;
  }
  #contact-us-form form .form-group input {
    width: 100%;
  }
  #contact-us-form form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#contact-us-form form {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

#contact-us-form * {
  text-align: right;
}

.container-fluid.marketing div.row div {
  margin-bottom: 5%;
}

@media screen and (max-width: 992px) {
  .container-fluid.marketing {
    text-align: center;
  }
  .container-fluid.marketing div.row div {
    margin-bottom: 5%;
  }
}
/*# sourceMappingURL=main.css.map */